
<section class="movie-list-wrapper">
  <div class="orderButtons">
    <button ng-click="order = 'name'">By name</button>
    <button ng-click="order = 'date'">By date</button>
  </div>
  <p>{{$ctrl.mainComponent.livesearch}}</p>
  <section class="releaseTime">
    <h2 class="releaseTime-title">New Releases</h2>
    <ul class="movie-list">

      <li class="movie-list-item" ng-repeat="movie in $ctrl.list | filter: {name:$ctrl.mainComponent.livesearch} | orderBy: order">
        <img class="movie-list-image" ng-src={{movie.img}} alt="{{movie.name}} poster">
        <div class="movie-list-info">
          <h4 class="movie-list-title">{{movie.name}}<span ng-show="movie.season">{{movie.season}}</span></h4>
          <p>release date: {{movie.date | date : "dd MMM. yyyy"}}</p>
        </div>
        <button ng-click="$ctrl.addToWatchlist($event)" class="movie-list-add" type="button">Add</button>
      </li>
    </ul>
  </section>

  <section class="releaseTime">
    <h2 class="releaseTime-title">This Year</h2>
  </section>
</section>
