@import "partials/colors";
@import "partials/fonts";

// Base

body {
  padding: 0;
  margin: 0;
  font-family: $main-font;
  background-color: $jungle-green;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p, h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

// Layout


// Modules

header {
  padding: 10px;
  text-align: center;
  background-color: $mikado-yellow;
}

// Movie-list

main {
  padding: 10px;
}
.movie-list-wrapper {
  padding: 20px;
}
.movie-list {
  display: grid;
  grid-auto-rows: minmax(130px, auto);
}
.movie-list-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  padding: 20px 5px;
  border-top: 1px solid #000;
}
.movie-list-image {
  width: 80px;
  border-radius: 5px;
}
.movie-list-info {
  grid-column: span 2;
  .movie-list-title {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
  }
}
.movie-list-add {
  width: 58px;
  height: 58px;
  line-height: 58px;
  align-self: center;
  justify-self: center;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.movie-list-checked {
  @extend .movie-list-add;
  cursor: inherit;
}
// releaseTime

.releaseTime-title {
  padding: 5px;
  margin: 30px 0;
}

// Animations

main.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
main.ng-enter.ng-enter-active {
  opacity:1;
}
